.main_todo{
  background-color: blue;
  color: white;
  padding: 1em;
  border-radius: 1em;
  cursor: pointer;
}

.filled-btn {
  display: flex !important;
  flex-flow: column;
    gap: 0.5em;
}
.btn{
  
}
